<section id="edit_user_container" class="push_3 round">
	<%= image_tag("edit_user.gif", :alt => "Edit User") %>
	<%= form_for(@user) do |f| %>
		<%= render 'fields', :f => f %>
		<div class="actions">
			<%= f.submit "Update" %>
		</div>
	<% end %>
	
	<div>
		<p>Need to add the ability to edit the users profile picture.</p>
	</div>
</section>
