<section id="signup_container" class="push_3 round">
	<%= image_tag("sign_up.gif", :alt => "Sign Up") %>
	<%= form_for(@user) do |f| %>
		<%= render 'fields', :f => f %>
		<p class="tos"><input type="checkbox" name="agree" value="agree" />I agree to the <a href="#">Terms of Service</a></p>
		<p class="tos"><span>*</span>Required field</p>
		<div class="actions">
			<%= f.submit "Sign Up" %>
		</div>
	<% end %>
</section>
