<section id="account" class="grid_6">
	<ul class="account_tabs">
		<li><a href="#sign_up_tab">Sign Up</a></li>
		<li><a href="#login_tab">Login</a></li>
	</ul>
	<div class="account_tab_container">
		<form id="sign_up_tab" class="account_tab_content_shadow" action="" method="post">
			School:<span>*</span><br />
			<select name="schoolId">
				<option value="0"></option>
				<option value="1">Texas Tech University</option>
				<option value="2">University of Texas</option>
				<option value="3">Texas A&M University</option>
				<option value="4">University of Houston</option>
				<option value="5">Texas State University</option>
			</select>
			<br />
			Email:<span>*</span><br />
			<input type="text" name="email" value="" /><br />
			Password:<span>*</span><br />
			<input type="password" name="password" value="" /><br />
			<p class="tos"><input type="checkbox" name="agree" value="agree" />I agree to the <a href="#">Terms of Service</a></p>
			<input type="submit" value="Sign Up" />
			<p class="tos"><span>*</span>Required field</p>
		</form>
	</div>
</section>
