<table id="info" class="round" summary="Profile infomation">
	<tr>
		<td class="main round">
			<p>Add the code so a user can have their image displayed.</p>
			<h1>
				<!-- Add user image -->
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<%= link_to "Create Post", "#" %><br />
			<%= link_to "Edit Profile", "#" %><br />
			<%= link_to "Delete Profile", "#" %>
		</td>
	</tr>
</table>
