<section id="contact">
	<h3>LEAVE A COMMENT</h3>
	<p>Please contact us with any questions or concerns you may have. All fields are required.</p>
			
	<form id="contact_form" action="" method="post">
		<label><input type="text" name="name" value="" /><br />
		<label><input type="text" name="email" value="" /><br />
		<textarea name="comment" cols="90" rows="12">Please leave your comment(s) here.</textarea><br />
		<input type="submit" value="SUBMIT" />
	</form>
</section>
